# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: setup miniconda and envs
        run: |
          wget https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O ~/miniconda.sh
          bash ~/miniconda.sh -b -p $HOME/miniconda
          source $HOME/miniconda/bin/activate
          conda init
          source /Users/runner/.bash_profile
          conda create -c conda-forge -n compilers compilers
          conda create -c conda-forge -n gfortran-7.5 gfortran_osx-64=7.5
          conda create -c conda-forge -n gfortran-7.3 gfortran_osx-64=7.3
          curl https://raw.githubusercontent.com/OpenMP/Examples/master/sources/Example_threadprivate.5.f -o omp.f90
      - name: compile with Homebrew Gfortran 8
        run: |
          gfortran-8 -fopenmp omp.f90 -o omp
          type gfortran-8
          gfortran-8 --version
          gfortran-8 -v
      - name: compile with Homebrew Gfortran 9
        run: |
          gfortran-9 -fopenmp omp.f90 -o omp
          type gfortran-9
          gfortran-9 --version
          gfortran-9 -v
      - name: compile with Homebrew Gfortran 10
        run: |
          gfortran-10 -fopenmp omp.f90 -o omp
          type gfortran-10
          gfortran-10 --version
          gfortran-10 -v
      - name: compile with conda-forge Gfortran 7.3
        run: |
          source /Users/runner/.bash_profile
          conda activate gfortran-7.3
          gfortran -fopenmp omp.f90 -o omp
          type gfortran
          gfortran --version
          gfortran -v   
      - name: compile with conda-forge Gfortran 7.5
        run: |
          source /Users/runner/.bash_profile
          conda activate gfortran-7.5
          gfortran -fopenmp omp.f90 -o omp
          type gfortran
          gfortran --version
          gfortran -v      
      - name: compile with conda-forge Gfortran 9.3 and link with -lgcc_eh
        run: |
          source /Users/runner/.bash_profile
          conda activate compilers
          gfortran -fopenmp -lgcc_eh omp.f90 -o omp
          type gfortran
          gfortran --version
          gfortran -v       
      - name: compile with conda-forge Gfortran 9.3 and link without -lgcc_eh
        run: |
          source /Users/runner/.bash_profile
          conda activate compilers
          gfortran -fopenmp omp.f90 -o omp
          type gfortran
          gfortran --version
          gfortran -v
